nav{
    display: flex;
    font-size: 18px;
}

.lista{
    display: inline-flex;
}

.lista li {
    padding: 5%;
}

.lista li a{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 3%;
}

.lista li a:hover{
    background-color: rgba(0, 0, 0, 0.548);
}

#menuOpen{
    display: none;
}

#menuClose{
    display: none;
}
.menuicons{
    top: 10px;
    position: relative;
    background-color: orange;
    padding: 10%;
    display: none;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.603);
}

.menuicons a{
    font-size: 14px;
}

.menuicons a .icon{
    text-align: center;
    width: 25px;
}

.lista li .menuicons a:hover{
    background-color: orange;
}




.botoes{
    display:inline-flex;
    
    margin: 1% 0;
    padding-right: 3%;
    
}

.botoes .buttons{
    margin-right: 2%;
    padding: 2%;
    background-color: orange;
    border: none;
    border: 2px solid black;
    border-radius: 13px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.botoes .buttons:hover{
    background-color: rgba(0, 0, 0, 0.377);
}


@media (max-width:700px) {
    .lista{
        transition: 1s ease;
        top: 50px;
        position: absolute;
        flex-direction: column;
        height: 100vh;
        z-index: 1000;
        display:none;
        text-align: center;
        background-color: orange;
        width: 100%;
    }

    #contacto{
        display: none;
    }

    .lista li{
        padding-top: 10%;
    }

    .lista li a:hover{
        background-color: orange;
        color: white;
    }
    
    .botoes .buttons{
        font-size: 16px;
        height: 25px;
        padding:2%;
    }

    .botoes{
        
        margin: 3.5% 0;
    }

    #menuOpen, #menuClose{
        margin: 25% 20%;
        font-size: 30px;
        cursor: pointer;
    }

    #menuOpen{
        display: block;
    }

    .menuicons{
        display: none;
        flex-direction: row;
        box-shadow: none;
        padding: 0px;
        left: 35%;
       
        
    }
    .menuicons .icon{
        border-radius: 15%;
        justify-content: center;
    }
    .menuicons .icon a{
        width: 10px;
        height: 10px;
    }

    
    
    
}

@media (max-width:350px) {
    .botoes .buttons{
        font-size: 14px;
        padding: 0.5%;
    }

    .menuicons{
        left:25%;
    }
}

